name: rugged_qr_scan
description: Flutter package for hardware QR/barcode scanning on rugged Android devices. Supports CipherLab industrial scanners.
version: 0.0.1
homepage: https://github.com/webelightsolutions/flutter-rugged-qr-scanner
repository: https://github.com/webelightsolutions/flutter-rugged-qr-scanner
issue_tracker: https://github.com/webelightsolutions/flutter-rugged-qr-scanner/issues

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.rugged.qr_scanner
        pluginClass: RuggedScannerPlugin
